<!-- <ion-header>
  <ion-toolbar>
    <ion-title>attendance-login</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content>
  <div class="att-profile-container">
    <div class="att-profile-info">
      <div class="att-profile-pic">
        <img src="/assets/profilePic.jpg" class="att-profile-photo" alt="Profile Photo" width="100vh" height="100vh">
      </div>
      <div class="att-profile-name">Ganesan Jayakumar</div>
      <div class="att-profile-empNo">MDS007</div>
    </div>
    <div class="att-date-time">
      <div class="att-date">{{currentDate}}</div>
      <div class="att-time">{{currentTime}}</div>
    </div>
    <div class="att-location-container">
      <div class="att-location-data"></div>
    </div>
  </div>
  <div class="att-check-container">
    <div class="att-c-time-info">
      <div>
        <div class="att-c-time">In Time</div>
        <div class="att-c-time-val">{{checkIn}}</div>
      </div>
      <div class="brd-l">
        <div class="att-c-time">Out Time</div>
        <div class="att-c-time-val">{{checkOut}}</div>
      </div>
    </div>
    <div class="att-c-time-info pd-t">
      <div>
        <div class="att-c-time">Working Hours</div>
        <div class="att-c-time-val">{{remainingTime}}</div>
      </div>
    </div>
    
    <div class="locationData">
      <div>
        <ion-icon name="location-outline" role="img" class="md hydrated" style="font-size: 20px;" 
        aria-label="location outline"></ion-icon>
      </div>
      <div>{{vilage}}</div>
      <div>{{address}}</div>
      
    </div>
    
    <!-- <ion-button (click)="getCurrentCoordinates()" expand="block">
      Get Location
    </ion-button>
    <ion-list>
      <ion-list-header>
        <ion-label>Location Coordinates</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>
          Latitue
        </ion-label>
        <ion-badge color="danger" slot="end">{{latitude}}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>
          Longitude
        </ion-label>
        <ion-badge color="danger" slot="end">{{longitude}}</ion-badge>
      </ion-item>
      </ion-list> -->
  </div>
</ion-content>
<ion-footer collapse="fade" style="bottom: 4rem;">
  <div class="att-check-in-btn" style="text-align: center;">
    <div class="btn-content">
      <ion-button class="f-h login-btn-color" *ngIf="address && checkIn == '00:00'" color="success" (click)="checkInCall()">Check In</ion-button>
      <ion-button class="f-h login-btn-color" *ngIf="address && checkIn !== '00:00' && checkOut == '00:00'" color="success" (click)="checkOutCall()">Check Out</ion-button>
      <ion-button class="f-h login-btn-color" *ngIf="address && checkIn !== '00:00' && checkOut !== '00:00' && remainingTime !== '00:00'" color="success" (click)="logOut()">Log Out</ion-button>
      <ion-button class="f-h login-btn-color" color="success" *ngIf="!address" (click)="reloadCurrentRoute()"><ion-icon name="refresh-outline"></ion-icon>  Reload</ion-button>
    </div>
  </div>
</ion-footer>
