<!-- <ion-header>
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="9">
          <div class="f-h-l">Welcome Back</div>
          <div class="f-h-b">Ganesan</div>
      </ion-col>
      <!-- <ion-col>
        <div class="photo-icon">
          <ion-icon name="person-circle-outline"></ion-icon>
        </div>
      </ion-col> -->
    </ion-row>
    <ion-row class="menu-item-block">
      <ion-col size="6" class="menu-item-container">
          <div class="menu-item">
              <div><ion-icon class="dash-icon" name="notifications-outline"></ion-icon></div>
              <div class="dash-text">Notification</div>
          </div>
      </ion-col>
      <ion-col size="6" class="menu-item-container">
        <div class="menu-item">
            <div><ion-icon class="dash-icon" name="mail-outline"></ion-icon></div>
            <div class="dash-text">Requests</div>
        </div>
      </ion-col>
      <ion-col size="6" class="menu-item-container">
        <div class="menu-item">
            <div><ion-icon class="dash-icon" name="calendar-outline"></ion-icon></div>
            <div class="dash-text">Leaves</div>
        </div>
      </ion-col>
      <ion-col size="6" class="menu-item-container"  [routerLink]="['/attendance-login']">
        <div class="menu-item">
            <div><ion-icon class="dash-icon" name="calendar-number-outline"></ion-icon></div>
            <div class="dash-text">Attendance</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
